.container{
    font-family: "outfit";
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.block{
    padding: 3%;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.137);
    border-radius: 10px;
}

#task{
    height:2.5em;
    width: 20vw;
    font-family: "outfit";
    border-color: rgb(193, 185, 185);
    border-radius:5px;
    border-width: 1.5px;
}

button{
    background-color: rgb(51, 171, 81);
    color:white;
    margin-top: 5%;
    height:2.5em;
    width:20vw;
    border-color: rgb(51, 171, 81);
    border-radius: 5px;
    border-width: 1px;
    padding:0;
    font-family: "outfit";
}

.hidden{
    margin-top:10px;
    width:20vw;
    padding-top: 8%;
    padding-bottom: 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    border-radius: 5px;
    background-color: rgb(234, 233, 233);
}

.hidden>button{
    margin-top: 0%;
    width:10vw;
    background-color: rgb(237, 65, 65);
    border-color:rgb(237, 65, 65);
}

#text{
    display:flex;
    justify-content: center;
    align-items: center;
}

